<h1>Edit the Question</h1>

  <form method="post" action="/questions/<%= @question.id %>">
    <input type="hidden" name="_method" value="put">
    <input name="question[title]" type="text" value="<%= @question.try(:title) %>">
    <input name="question[body]" type="text" value="<%= @question.try(:body) %>">
    <input type="submit" value="Update Question" class="button">
  </form>
</main>