<div class="container">
  <h1>all questions</h1>
  <%@questions.each do |question|%>
    <div class="question">
      <h2><%=question.title%></h2>
      <p><%=question.body%></p>

      <% if logged_in? && question.user_id == current_user.id %>
        <p><a href="/questions/<%= question.id %>/edit">Edit</a></p>
        <p><form action="/questions/<%= question.id %>/edit" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form></p>
      <% end %>

    </div>
  <%end%>
</div>
