<div class="container">
  <h1>all questions</h1>
  <%@questions.each do |question|%>
    <div class="question" id="<%=question.id%>">
      <%= erb :'/questions/_question', layout: false, locals: { question: question } %>
    </div>
  <%end%>
</div>
