<form class="new-comment" action="/comments" method="post">
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <input type="hidden" name="comment[commentable_id]" value="<%= type.id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= type.class.to_s %>">
  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
  <input type="text" name="comment[body]" placeholder="I drink and I know things...">
  <input type="submit" value="Add Your Two Cents">
</form>

<!-- <h1>A Lannister Always Pays His Debts -Tyrion Lannister</h1> -->
<!-- <h3>You're paying yours now by following Lannister Convention and adding a comment!</h3> -->
