body {
  margin: 0;
  background: url('https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcQeBn6ttFubnZIwuCclYoWUrQ5CzUxKJAdGerfOdrOQdnYAPWppzdhAKgBowjjruiCLxKeKQ.7IO2_2p4P_o2DiuNKN8rlD.vBNBt7RCvrQKj3n6UWeKDYz7JGx9PrC0.3O3IexVjtmmKZMrCosvanH7Hx9vR2fVRoOWJg1_EPDc-&format=jpg');
  background-repeat: no-repeat;
  font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif;
  color: white;
}

nav {
  top: 0;
}

.nav_bar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #403F36;
  opacity: 0.5;
  border-radius: 1px;
}

.nav_bar li {
  display: inline;
  width: 100px;
}

.nav_link {
  float: right;
}

#home_button {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5E5D41;
}

footer {
  position: fixed;
  bottom: 0;
}
