#question-answer-parent {
  margin: auto;
  width: 60%;
}

#vote-container {
  float: left;
  clear: left;
}

.vote {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

.vote li {
  text-align: center;
  margin: 10px;
}

.up-vote, .down-vote {
  display: inline-block;
}

#vote-body-user-container {
  margin: 10px;
  border: 1px solid red;
}

#question-answers-container {
  margin: 10px;
  border: 1px solid orange;
}

#single-answer-container {
  width: 90%;
  border: 1px solid yellow;
  margin: auto;
  padding: 5%;
}

#new-answer-container {
  padding: 2%;
  border: 1px solid blue;
}
