.container {
  width: 50%;
  color: white;
  float: right;
}

h1 {
  color: white;
  text-align: right;
  margin: 20px;
}

.question {
  clear: both;
  background-color: rgba(64, 63, 54, 0.5);
  border: 1px solid white;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.stats {
  overflow:hidden;
  float: right;
}
.stats td {
  text-align: center;
}

.title_and_author {
  padding-top: 8px;
  overflow: hidden;
  float: left;
}
.title_and_author a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.title_and_author a:hover {
  text-decoration: none;
  padding: 10px;
  color: red;
}

#q-text {
  font-size: large;
  color: white;
}
