
ul {
  list-style:none;
}
#question-answer-parent {
  margin: auto;
  width: 60%;
  box-sizing: border-box;
  overflow: hidden;
}

#vote-container {
  float: left;
  clear: left;
  padding: 12px;
}

.vote {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

.vote li {
  text-align: center;
  margin: 10px;
}

.up-vote, .down-vote {
  display: inline-block;
}

#vote-body-user-container {
  margin: 10px;
  border: 1px solid red;
  background-color: rgba(1, 0, 0, 0.5);
  overflow: hidden;
}

#edit {
  display: inline-block;
  border: 1px white solid;
  text-align: center;
  padding: 8px 0;
  width: 20%;
  float: right;
  overflow: hidden;
}
#edit[type=submit]{

}
#question-answers-container {
  clear: both;
  margin: 10px;
  border: 1px solid orange;
  background-color: rgba(1, 0, 0, 0.5);
  overflow: hidden;
}

#single-answer-container {
  border: 1px solid yellow;
  padding: 5%;
  overflow: hidden;
}

#new-answer-container {
  padding: 2%;
  border: 1px solid blue;
  width: 60%;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

#each-answer-container {
  border: 1px solid orange;
  overflow: hidden;
}

#answer-comment {
  display: inline-block;
  border: 1px white solid;
  text-align: center;
  padding: 8px 0;
  width: 60%;
  float: right;
  overflow: hidden;
}

#answer-comment #new-comment[type=submit]{
  box-sizing: content-box;
  padding:10%;
  background-color:blue;
}

#questionbody{
  box-sizing: border-box;
  padding: 10px;
  min-height: 117px;
  border: 1px solid green;
}
