<h1>sign up for battle</h1>

<form class="user" method="post" action="/users">
  <input id="username" type="text" name="user[username]" placeholder="choose your name">
  <input id="password" type="password" name="user[password]" placeholder="secret cryptic code">
  <input id="button" type="submit" value="enter the kingdom">
</form>
