<h1>A wise man once said the true history of the world is the history of great conversations in elegant rooms -Tyrion Lannister</h1>
<h3>If your answer provides wisdom that Tyrion would approve of, then please answer below!</h3>

<form class="" action="index.html" method="post">

</form>
