<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/questions.css">
  <link rel="stylesheet" href="/css/editform.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Throne Overthrow</title>
</head>

<body>
  <nav>
    <ul class="nav_bar">
        <li id="home_button"><a href="/questions">Home</a></li>
      <% if logged_in? %>
        <li class="nav_link"><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
        <li class="nav_link"><a href="/logout">Logout</a></li>
      <% else %>
        <li class="nav_link"><a href="/login">Login</a></li>
        <li class="nav_link"><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
  <footer>
    <ul class="nav_bar">
        <% if logged_in? %>
          <li class="nav_link" id="new-question-button"><a href="/questions/new">New Question</a></li>
          <li class="nav_link hidden" id="popup-new-question"><%= erb :'questions/new', layout: false %></li>
        <% else %>
          <li class="nav_link"><a href="/login">Login</a></li>
          <li class="nav_link"><a href="/users/new">Sign Up</a></li>
        <% end %>
    </ul>
  </footer>
</body>
</html>
