<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/new-topic.css">
  <link rel="stylesheet" href="/css/topics.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/new-post.css">
  <link rel="stylesheet" href="/css/your-topics.css">
  <link rel="stylesheet" href="/css/tags.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Throne Overthrow</title>
</head>
<body>
  <nav>
    <ul>
        <li><a href=""></a>Home</li>
      <% if logged_in? %>
        <li><a href=""></a><%= @user.username %></li>
        <li><a href=""></a>Logout</li>
      <% else %>
        <li><a href=""></a>Login</li>
        <li><a href=""></a>Sign Up</li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>

  <footer></footer>
</body>
</html>
